@(message: String,data: String,ma:String)

@main(message){
   <li class="active"><a href="#">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Nav header</li>
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>
}{

<div id="placeholder" style="width:600px;height:300px"></div>

<script>
var options = {
    series: {
        lines: { show: true, fill: false ,steps: false },
        points: { show: false, fill: false }
    },
    xaxis : {
      mode: "time",
      timeformat:"%H:%M"
    }
};
var dataTable = @data
var timeInit = dataTable[dataTable.length -1][0]
var currentTime = timeInit
setInterval("currentTime = currentTime+1000;",1000)

var dataFull = [{label:"foo",data:dataTable}]
dataFull.push({label:"bar",data:@ma})
$.plot($("#placeholder"), dataFull,options);
</script>


  <script type="text/javascript">

  var placeholder = document.getElementById("trades_placeholder")
  var pusher = new Pusher('de504dc5763aeef9ff52');
  var trades_channel = pusher.subscribe('live_trades');
  var i = 0;

  trades_channel.bind('trade', function(data) {
        dataTable.push([currentTime ,data['price']]);
        console.log("added "+currentTime+" "+data['price'])
        console.log(dataFull)
        $.plot($("#placeholder"), dataFull,options);
  });

  </script>
  }
